@page
@using Tidea.Web.Models.Order
@model DetailsModel

@{
    ViewData["Title"] = "Details";
}


@* <div> *@
@*     <a asp-page="./Edit" asp-route-id="@Model.Campaign.Id">Edit</a> | *@
@*     <a asp-page="./Index">Back to List</a> *@
@* </div> *@

<div class="container">
    <h1>@Html.DisplayFor(model => model.Campaign.CampaignName)</h1>
    <div class="row py-2">
        <div class="col-3 order-2" id="sticky-sidebar">
            <div class="sticky-top">
                <div class="nav flex-column">
                    <section class="mt-2">
                        <div class="container py-0 px-0">
                            <div class="row d-flex justify-content-center">
                                <div class="col-md-2 col-lg-10 col-xl-12">
                                    <div class="card">
                                        <div class="card-body p-md-1">

                                            <div class="d-flex flex-row align-items-center">
                                                <i class="fas fa-hand-holding-usd fa-2x mr-2 ml-2"></i>
                                                <div class="d-flex flex-column ms-4 ml-1">
                                                    <span class="h5 mb-1">@Model.Campaign.TotalAmountCollected zł</span>
                                                    <div class="progress">
                                                        <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                                                    </div>
                                                    <span class="small text-muted">@Model.Campaign.AmountNeeded zł</span>
                                                </div>
                                            </div>

                                            <div class="mt-3">
                                                <a style="text-decoration: none;" asp-page="/Order/CreateOrder" asp-route-id="@Model.Campaign.Id" class="mb-0">
                                                    <button class="btn btn-danger btn-lg btn-block">
                                                        Wpłać teraz <i class="fas fa-long-arrow-alt-right"></i>
                                                    </button>
                                                </a>
                                            </div>
                                            <!-- -->

                                            <div>
                                                <button type="button" class="btn btn-secondary btn-lg btn-block mt-2">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-share" viewBox="0 0 16 16">
                                                        <path d="M13.5 1a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5zm-8.5 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zm11 5.5a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3z"/>
                                                    </svg>
                                                    Udostępnij
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- -->

                </div>
            </div>
        </div>

        <div class="col" id="main">
            <div class="image p-0">
                <img class="img" src="@Model.imagePath">
            </div>
            <h4>Opis zbiórki</h4>
            @Html.Raw(Model.Campaign.Description)
        </div>
    </div>
</div>