@page
@using Tidea.Web.Models.Order
@model DetailsModel

@{
    ViewData["Title"] = "Details";
}


@* <div> *@
@*     <a asp-page="./Edit" asp-route-id="@Model.Campaign.Id">Edit</a> | *@
@*     <a asp-page="./Index">Back to List</a> *@
@* </div> *@

<style>
    img {
        max-width: 100%;
        height: auto;
    }
</style>


<div class="container-fluid border border-success">
    <div class="row">
        <div class="col-md-8 ">
            <div class="row">
                <div class="pb-3 pt-3 col-md-12 ">
                    <h1>@Model.Campaign.CampaignName</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" style="min-height: 50vh;max-height: 60vh;">
                    <img src="@Model.imagePath" class="img-fluid" style='height: 100%; width: auto; object-fit: cover; border-radius: 7%'/>
                </div>
            </div>
        </div>
        <!--Right buttons-->
        <div class="col-md-4  my-auto pt-2 pb-2">
            <div class="row">
                    <div class="col-md-12 pr-5 pl-5 pb-2">
                        <div class="progresses mb-2">
                            <span class="h3 align-content-center">200.00 zł</span> z 2000.00 zł
                            <div class="progress mt-2">
                                <div class="progress-bar bg-success" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%;"></div>
                            </div>
                        </div>
                        Wpłaciło <b>2000</b> osób
                        <hr/>
                    </div>
                <div class="col-md-12 pr-5 pl-5 pb-2">
                    Pozostało <b>45 dni</b>
                </div>
                <div class="col-md-12 pr-5 pl-5">
                   
                    <a style="text-decoration: none;" asp-page="/Order/CreateOrder" asp-route-id="@Model.Campaign.Id" class="mb-0">
                        <button class="btn btn-danger btn-lg btn-block">
                            Wpłać teraz
                        </button>
                    </a>
                </div>
                    <div class="col-md-12 mt-1 pr-5 pl-5">
                        <button type="button" class="btn btn-outline-secondary btn-lg btn-block">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-share" viewBox="0 0 16 16">
                                <path d="M13.5 1a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5zm-8.5 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zm11 5.5a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3z"/>
                            </svg>
                            Udostępnij
                        </button>
                    </div>
                </div>
        </div>
        <!---->
    </div>
    <div class="row">
        <div class="col-md-8  pt-3">
            @Html.Raw(Model.Campaign.Description)
        </div>
    </div>
</div>

