@page
@model Tidea.Web.Pages.Order.CreateOrder

<style>
html,body{
            min-height: 100vh;
            min-width: 100vw;
        }
        .parent{
            min-height: 50vh;
        }
        .parent>.row{
            display: flex;
            align-items: center;
            height: 50%;
        }
        .col img{
            height:100px;
            width: 100%;
            cursor: pointer;
            transition: transform 1s;
            object-fit: cover;
        }
        .col label{
            overflow: hidden;
            position: relative;
        }
        /*Green check */
        .imgbgchk:checked + label>.tick_container{
            opacity: 1;
        }
        /*Animation */
        .imgbgchk:checked + label>img{
            transform: scale(1.15);
            opacity: 0.3;
        }
        .tick_container {
            transition: .5s ease;
            opacity: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            cursor: pointer;
            text-align: center;
        }
        .tick {
            background-color: #4CAF50;
            color: white;
            font-size: 16px;
            padding: 8px 12px;
            height: 40px;
            width: 40px;
            border-radius: 100%;
        }
</style>

<div class="card card-collapsable">

    <div class="card-body pb-0 px-3 px-sm-4 mx-sm-4 mx-md-0 pt-md-4 mt-md-2 px-md-3">
        <div class="row">
            <div class="col-md-10 mx-auto">
                <h3 class="mb-2" style="text-align: center">
                    Wybierz kwotę oraz sposób płatności
                </h3>
            </div>
        </div>
    </div>

    <hr/>
    <form method="post">
        <div class="container mt-lg-3 w-50" style="min-height: 20vh">
            <div class="row row-cols-2 row-cols-md-4">
                @for (int i = 0; i < 8; i++)
                {
                    <div class="col text-center p-1">
                        <input type="radio" name="checkedPaidIn" id="@i" class="d-none imgbgchk" value="@Model.PaidInList[i]">
                        <label for="@i">
                            <button type="button" class="text-center btn btn-lg border"><i class="fa-solid fa-money-bill-wave"></i> @Model.PaidInList[i] zł</button>
                            <div class="tick_container">
                                <div class="tick">
                                    <i class="fa fa-check"></i>
                                </div>
                            </div>
                        </label>
                    </div>
                }
            </div>
        </div>

        <hr/>
        <div class="container parent ">
            <div class="row row-cols-2 row-cols-md-3">
                @foreach (var item in @Model.FilteredPayUMethods)
                {
                        <div class="col text-center p-4">
                            <input type="radio" name="checkedPayUMethod" id="@item.value" class="d-none imgbgchk" value="@item.value">
                            <label for="@item.value">
                                <img src="@item.brandImageUrl" alt="Image 1" class="w-50 h-auto text-center">
                                <div class="tick_container">
                                    <div class="tick">
                                        <i class="fa fa-check"></i>
                                    </div>
                                </div>
                            </label>
                        </div>
                }
            </div>
        </div>
        <button class="btn-block btn btn-outline-success" type="submit">Wpłać</button>
    </form>
</div>
